---
import { twMerge } from "tailwind-merge";
import type { HTMLAttributes } from "astro/types";
import type { ClassName } from "src/types/global";

interface Props extends HTMLAttributes<"input">{
    group: string;
    label: string;
    className?: ClassName;
};

const { group, label, className, name = group, id, ...radioBtnProps } = Astro.props;
---

<label set:text={label} for={id || group} class="text-WIblack text-opacity-50 text-xl">
    <input id={id || group} name={name || group} type="radio" class={twMerge([className,
        "appearance-none",
        "size-[1em]",
        "border-[0.1em] border-current",
        "block",
        "relative",
        "-translate-x-[0.25em]",
        "hover:cursor-pointer",
        "before:checked:bg-WIblue-input",
        "before:size-full before:scale-90",
        "before:absolute"])}
        {...radioBtnProps}
    />
</label>