---
import { cva } from "cva";
import { twMerge } from "tailwind-merge";
import type { VariantProps } from "cva";
import type { HTMLAttributes } from "astro/types";

const textbox = cva([
    ""
], {
    variants: {
        intent: {
            BASS: [""]
        }
    }
})

interface Props extends HTMLAttributes<"input">,
    VariantProps<typeof textbox>{
        label?: string;
        className?: string;
};

const { label, intent, className = "", name, ...inptProps } = Astro.props;
---

{label && <label for={name}>{label}</label>}
<input {...inptProps} id={name} class:list={twMerge([textbox({intent}), className])}/>