@tailwind base;
@tailwind components;
@tailwind utilities;

section {
    @apply min-h-svh px-12 py-4 sm:py-12;
}
section + section {
    @apply bg-blue-500 px-0
    hidden
    sm:inline;
}

h1, h2 ~ h2, small {@apply mb-12;}
h1, h2, small {@apply min-w-56;}
h1 {
    @apply
    text-4xl text-WIblue font-sans font-bold
    sm:text-5xl;
}
h1 span {
    @apply text-WIivory-contrast;
}
h2 {
    @apply text-2xl text-WIblue font-bold
    sm:text-2xl;
}
h2 span {
    @apply text-xl font-semibold; 
}
small {
    @apply font-semibold opacity-60 block;
}

footer {
    @apply w-2/3 text-sm text-nowrap mt-12 flex flex-wrap justify-between gap-2;
}
footer p{
    @apply font-medium opacity-60;
}
footer a{
    @apply text-WIblue font-bold;
}