---
import LayoutMain from "@layouts/LayoutMain.astro";
import TextBox from "@components/inputs/TextBox.astro";
import Link from "@components/Link.astro";
---

<LayoutMain practitioner>
    <Link href="." text="Back" icon="heroicons:chevron-left-16-solid" iconLeft intent="navControl" className="my-6"/>
    <form action="" class="grid grid-cols-6 gap-y-4">
        <TextBox label="University"                     name="university"           title="Enter your university name"  type="text" className="col-span-2 w-11/12" required/>
        <TextBox label="Major"                          name="major"                title="Enter your major"            type="text" className="col-span-2 w-11/12 justify-self-center" required/>
        <TextBox label="Semester"                       name="semester"             title="Current semester"            type="text" className="col-span-2 w-11/12 justify-self-end" required/>
        <TextBox label="Skills"                         name="skills"               title="Technical skills"            type="text" className="col-span-3 w-11/12" required/>
        <TextBox label="Soft Skills"                    name="softSkills"           title="Soft skills"                 type="text" className="col-span-3 w-11/12 justify-self-end" required/>
        <TextBox label="Presentation (Max 250 words)"   name="presentation"         title="Presentation"                type="text" className="col-span-full" required/>
        <TextBox label="Area(s) of Interest"            name="areasOfInterest"      title="Areas of interest"           type="text" className="col-span-3 w-11/12" required/>
        <TextBox label="Sector(s) of Interest"          name="sectorsOfInterest"    title="Sectors of interest"         type="text" className="col-span-3 w-11/12 justify-self-end" required/>
        <TextBox label="Langage(s)"                     name="langages"             title="Languages"                   type="text" className="col-span-3" required/>
    </form>
    <Link href="./skills" text="Next" icon="heroicons:chevron-right-16-solid" iconRight intent="navControl" className="float-right my-6"/>
</LayoutMain>