---
import LayoutMain from "@layouts/LayoutMain.astro";
import Link from "@components/Link.astro";
import TextBox from "@components/inputs/TextBox.astro";
---

<LayoutMain practitioner>
    <Link href="uwu" text="Back" icon="heroicons:chevron-left-16-solid" iconLeft intent="navControl" className="my-6"/>
    <form action="" class="w-2/3">
        <TextBox label="Name"               name="name"             title="Enter your name"         type="text"     required/>
        <TextBox label="Last Name"          name="lastName"         title="Enter your last name"    type="text"     required/>
        <TextBox label="Email"              name="email"            title="Enter your email"        type="email"    required iconConfirm/>
        <TextBox label="Password"           name="password"         title="Enter your password"     type="password" required iconConfirm/>
        <TextBox label="Confirm Password"   name="confirmPassword"  title="Confirm password"        type="password" required iconConfirm/>
        <TextBox label="Contact Number"     name="contactNumber"    title="Enter your phone number" type="tel"      required iconConfirm/>
    </form>
</LayoutMain>