---
import LoginLayout from "@layouts/LoginLayout.astro";
import Navmenu from "@components/Navmenu.astro";
import LoginInpt from "@components/inputs/LoginInpt.astro";
---

<LoginLayout title="WorkIn">
	<section>
		<Navmenu mobile/>
		<h1>WorkIn<span>AI</span></h1>
		<h2>Artificial Intelligence <span>empowering</span></h2>
		<h2><span>your</span> Career Journey</h2>
		<small>Welcome back! Please <ins>login</ins> to your account.</small>
		<form id="form" name="login" action="" method="get">
			<LoginInpt form="login" name="email" type="email" label="Email Address"/>
			<LoginInpt form="login" name="password" type="password" label="Password"/>
		</form>
	</section>
	<section>
		<Navmenu mobile={false}/>
		ola crayola
	</section>
</LoginLayout>