---
import LoginLayout from "@layouts/LoginLayout.astro";
import Navmenu from "@components/Navmenu.astro";
import LoginInpt from "@components/inputs/LoginInpt.astro";
import CheckBox from "@components/inputs/CheckBox.astro";
import Link from "@components/Link.astro";
import Button from "@components/Button.astro";
---

<LoginLayout title="WorkIn">
	<section>
		<Navmenu mobile/>
		<h1>WorkIn<span>AI</span></h1>
		<h2>Artificial Intelligence <span>empowering</span></h2>
		<h2><span>your</span> Career Journey</h2>
		<small>Welcome back! Please <ins>login</ins> to your account.</small>
		<form id="form" name="login" action="" method="get">
			<LoginInpt form="login" name="email" type="email" label="Email Address"/>
			<LoginInpt form="login" name="password" type="password" label="Password"/>
			<div class="mt-2 mb-10 ml-2 flex flex-wrap justify-between">
				<CheckBox name="rememberMe" form="login" text="Remember Me" intent="login"/>
				<Link href="https://youtu.be/dQw4w9WgXcQ?si=S2f1ZH6iodUjWRr8" text="Forgot Password?" intent="forgetPW"/>
			</div>
			<div class="flex gap-x-4">
				<Button form="form" type="submit" text="Login" intent="login" className="flex-none"/>
				<Button text="Sign Up" intent="login" className="flex-none"/>
			</div>
		</form>
		<footer>
			<p>Or login with</p>
			<Link href="https://youtu.be/dQw4w9WgXcQ?si=S2f1ZH6iodUjWRr8" text="Facebook"/>
			<Link href="https://youtu.be/dQw4w9WgXcQ?si=S2f1ZH6iodUjWRr8" text="LinkedIn"/>
			<Link href="https://youtu.be/dQw4w9WgXcQ?si=S2f1ZH6iodUjWRr8" text="Google"/>
		</footer>
	</section>
	<section>
		<Navmenu mobile={false}/>
	</section>
</LoginLayout>