---
import { cva } from "cva";
import { twMerge } from "tailwind-merge";
import type { VariantProps } from "cva";
import type { HTMLAttributes } from "astro/types";

const button = cva([], {
    variants: {
        intent: {
            login: [
                "text-WIblue",
                "w-24 h-12",
                "border-WIblue border-2 rounded-lg",
                "transition duration-200 ease-in-out",
                "hover:text-white hover:bg-WIblue hover:shadow-md",
                "focus:text-white focus:bg-WIblue focus:shadow-md"
            ]
        }
    }
});

interface Props extends HTMLAttributes<"button">,
    VariantProps<typeof button>{
        text: string;
        form?: string;
        className?: string;
    };
const { text, className, intent, ...props } = Astro.props;
---

<button {...props} class={twMerge([button({intent}), className])}>
    {text}
</button>