---
import { Icon } from "astro-icon/components";
import { cva } from "cva";
import { twMerge } from "tailwind-merge";
import type { VariantProps } from "cva";
import type { HTMLAttributes } from "astro/types";

const link = cva([
        "w-fit",
        "relative",
        "before:bg-WIblack",
        "before:w-full before:h-px",
        "before:absolute before:bottom-0 before:scale-x-0",
        "before:transition-all before:duration-300 before:ease-in-out",
        "hover:before:scale-x-100"
], {
    variants: {
        intent: {
            primary: [
                "text-WIblack"
            ],
            forgetPW: [
                "text-WIblack text-sm text-opacity-60 text-nowrap",
                "before:bg-opacity-60"
            ]
        }
    }
});

export interface Props extends HTMLAttributes<"a">,
    VariantProps<typeof link>{
        href: string;
        text: string;
        className?: string | string[];
        icon?: "heroicons:folder"
            | "heroicons:chat-bubble-oval-left"
            | "heroicons:user"
            | string
            ;
    };
const { href, text, icon, className = "", intent = "primary" } = Astro.props;
---

<a href={href} class={twMerge([link({intent}), className])}>
    {icon && <Icon name={icon}/>}
    {text}
</a>