---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"a">{
    href: string;
    text: string;
};

const { href, text } = Astro.props;
---

<a href={href}
    class="text-WIblack relative
        before:bg-WIblack
        before:w-full before:h-px
        before:absolute before:bottom-0 before:scale-x-0
        before:transition-all before:duration-300 before:ease-in-out
        hover:before:scale-x-100">
    {text}
</a>