---
import Link from "./Link.astro";
import { twMerge } from "tailwind-merge";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"nav">{
    items: ReadonlyArray<[string, string, string]>;
    className?: string | string[];
};

const { items, className = "", ...navProps } = Astro.props;
---

<nav {...navProps} class={twMerge(["flex gap-x-6 items-start", className])}>
    {items.filter(item => item.every(prop => prop !== ""))
        .map(([text, icon, href]) => <Link href={href} text={text} icon={icon} intent="navBar"/>)}
</nav>