---
import Link from "./Link.astro";
import { twMerge } from "tailwind-merge";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"nav">{
    items: ReadonlyArray<[string, string]>;
    className?: string | string[];
};

const { items, className = "", ...navProps } = Astro.props;
---

<nav {...navProps} class={twMerge(["", className])}>
    {items.map(item =>
        <Link href="" text={item[0]} icon={item[1]}
            className={[`${item[1] && "flex items-center gap-x-2"}`]}
        />
    )}
</nav>