---
import LayoutMain from "@layouts/LayoutMain.astro";
import Loader from "@components/Loader.astro";
import View from "@svelteComponents/views/EnterpriseView.svelte";
import Link from "@components/Link.astro";
import Searchbar from "@components/svelte/Searchbar.svelte";
---

<LayoutMain enterprise navBar sideBar>
    <section id="search">
        <div class="flex justify-between">
            <Link href="/enterprise/process/create/vacant" text="Create Job Post" icon="heroicons:plus-circle-16-solid" iconLeft intent="iconBtn"/>
            <Searchbar client:idle id="searchBar" placeholder="Search" className="basis-4/5 min-h-8"/>
        </div>
        <legend class="w-3/5 h-14 flex justify-between items-center">
            <strong>All Groups</strong>
            <span class="after:bg-[#B70000]">Closed</span>
            <span class="after:bg-[#FDB022]">In Progress</span>
            <span class="after:bg-[#23B000]">Accepted</span>
        </legend>
    </section>
    <View client:only="svelte" processes>
        <Loader slot="loader" type="bars" size={6}/>
    </View>
</LayoutMain>

<style>
    #search{
        background-color: white;
        position: sticky;
        inset: 0;
        z-index: 1;
    }

    legend span{
        position: relative;
    }
    legend span::after{
        content: "";
        width: 0.75rem;
        height: 50%;
        border-radius: 100%;
        position: absolute;
        left: 110%;
        top: 25%;
    }
</style>