---
import LayoutMain from "@layouts/LayoutMain.astro";
import TextBox from "@components/inputs/TextBox.astro";
import TextArea from "@components/inputs/TextArea.astro";
import Link from "@components/Link.astro";

const formName: Readonly<string> = "createVacant";
---

<LayoutMain enterprise navBar sideBar>
    <Link href="/enterprise/process" text="Back" icon="heroicons:chevron-left-16-solid" iconLeft intent="navControl" className="my-4"/>
    <form name={formName} class="grid grid-cols-2 gap-y-2">
        <TextBox name="jobPosition" label="Job Position" type="text" className="col-span-full" required />
        <TextBox name="modality" label="Modality" type="text" className="col-span-full" required />
        <TextBox name="department" label="Department" type="text" className="w-11/12" required/> 
        <TextBox name="district" label="District" type="text" className="w-[90%] place-self-end" required/>
        <TextArea name="companyDescription" label="Company Description:" className="col-span-full" required/>
        <TextArea name="description" label="What are we looking for? (Up to 300 words):" height={6} className="col-span-full" required/>
        <TextArea name="requirements" label="Requirements:" className="col-span-full" required/>
    </form>
    <Link href="" text="Next" icon="heroicons:chevron-right-16-solid" iconRight intent="navControl" className="float-right my-4"/>
</LayoutMain>