---
import Brand from "@components/Brand.astro";
import NavBar from "@components/NavBar.astro";

// [<text>, <iconName>] <- Format.
const navItems: ReadonlyArray<[string, string]> = [
	["My applications", "heroicons:folder"],
	["Notifications", "heroicons:chat-bubble-oval-left"],
	["Profile", "heroicons:user"]
];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>WorkIn</title>
	</head>
	<body>
		<main class="p-8">
			<header>
				<Brand/>
				<NavBar items={navItems}/>
			</header>
			<slot />
		</main>
	</body>
</html>