---
/// <reference types="astro/astro-jsx" />
import Brand from "@components/Brand.astro";
import NavBar from "@components/NavBar.astro";
import SideBar from "@components/SideBar.astro";
import type { User } from "../types/global";

type Props = User & {
	navBar?: boolean;
	sideBar?: boolean;
};

const { practitioner, enterprise, navBar, sideBar } = Astro.props;

// [<text>, <iconName>, <href>] <- Format.
const navItems: ReadonlyArray<[string, string, string]> = practitioner ?
[
	["My applications", "heroicons:folder", "uwu"],
	["Notifications", "heroicons:chat-bubble-oval-left", "wuw"],
	["Profile", "heroicons:user", "oqo"]
]
	:
[
	["Notifications", "heroicons:chat-bubble-oval-left", "wuw"],
	["Profile", "heroicons:user", "oqo"]
];

const sideBarItems: ReadonlyArray<[string, string, string]> = enterprise ?
[
	["Dashboard", "heroicons:chart-bar-solid", "/enterprise/dashboard"],
	["My processes", "heroicons:user-group-solid", "/enterprise/process"]
] :
[
	["", "", ""]
];

const templateAreas: Readonly<string> =
	`"header header header header"
	"${sideBar ? "sidebar" : "content"} content content content"`;
const mainElementStyle: astroHTML.JSX.CSSProperties = {
	gridTemplateAreas: templateAreas
};
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>WorkIn</title>
	</head>
	<body>
		<main style={mainElementStyle}>
			<header>
				<Brand/>
				{navBar && <NavBar items={navItems}/>}
			</header>
			{sideBar && <SideBar content={sideBarItems}/>}
			<section>
				<slot />
			</section>
		</main>
	</body>
</html>

<style>
	main{
		height: 100vh;
		padding: 3rem 3rem;
		display: grid;
		grid-template-columns: repeat(4, minmax(200px, 1fr));
		grid-template-rows: min-content auto;
	}
	header{
		display: flex;
		justify-content: space-between;
		grid-area: header;
	}
	aside{
		grid-area: sidebar;
	}
	section{
		max-height: 100vh;
		overflow-y: scroll;
		grid-area: content;
	}
</style>